.body {
    background-color: rgb(12, 72, 72);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Maven Pro', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Work Sans', sans-serif;
}


/*titulos de genero*/
.titulo {
    justify-content: center;
    display: flex;
    align-self: center;
    color: rgb(252, 252, 242)
    
}


.main{
    display: flex;
    justify-content: center;

}

.generos {
    background-color: rgb(253, 253, 240);
    justify-content: space-between;
    list-style: none;
    flex-direction: row;
    display: flex;
    padding: 10%;
    
}

.ul1{
    justify-content: center;
    align-items: center;
    display: flex;
}
.ul2{

}
