.body {
    background-color: #142850;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    font-family: 'Maven Pro', sans-serif;
    font-family: 'Mooli', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Work Sans', sans-serif;


}

.header {
    background-color: rgba(100, 148, 237, 0.63);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px 13px;
    display: flex;
    justify-content: space-between;

}

.Busca {
    font-size: 30px;
    display: flex;
    align-items: center;
    padding: 15px;

}


.logo {
    text-align: start;
    margin: -2px;
    width: 98px;
    height: 80px;

}


.ListaMain {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-around;
    text-align: end;
    justify-content: end;

}

.textobusqueda {
    color: aliceblue;
    text-decoration: none;
    font-size: 18px;
}

.navbar {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

.fotoheader {
    width: 1220px;
    height: 310px;
    border: solid 5px rgba(61, 61, 171, 0.688);
    border-radius: 20px;
}

#video {
    border: solid 5px rgba(61, 61, 171, 0.688);
    border-radius: 20px;
    max-width: 1300px;
    height: 340px;
}

.video {
    border: solid 5px rgba(61, 61, 171, 0.688);
    border-radius: 20px;
    max-width: 1300px;
    max-height: 340px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.imagenes_genero {
    border: solid 5px rgba(61, 61, 171, 0.688);
    border-radius: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 85%;
    height: 340px;

}


.titulos_genero {
    color: rgb(222, 239, 254);
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    text-decoration: solid;
    font-weight: bold;
    font-size: 48px;

}

.Noresultados {
    display: none;
}

.Valoradas {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

.padreValoradas {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    margin: 80px 138px;
    padding: 80px;
}

.padreGenero {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    max-width: 100%;
    margin: -1px 181px;
    padding: 0px;
}

.GeneroPeliculas {
    background-color: rgba(10, 83, 218, 0.563);
    padding: 10px 20px;
    margin: 22px;
    width: 348px;
    height: 40px;
    text-align: center;
    border: solid 5px rgba(61, 61, 171, 0.688);
    border-radius: 18px;
    list-style: none;
    color: rgb(222, 239, 254);
    font-size: 24px;
    justify-content: center;
    align-items: center;
}

.GeneroPeliculasDetalle {
    background-color: rgba(10, 83, 218, 0.563);
    padding: 10px 20px;
    width: 137px;
    height: 16px;
    text-align: center;
    border: solid 5px rgba(61, 61, 171, 0.688);
    border-radius: 18px;
    list-style: none;
    color: rgb(222, 239, 254);
    font-size: 14px;
}

.btns {
    display: flex;
    flex-direction: row;
}

a {
    text-decoration: double;
    color: #76e3fc;
}

a::before {
    text-decoration: none;
}

:active {
    text-decoration: none;
}

a::before {
    text-decoration: none;
}


#titulo {
    color: rgb(209, 229, 246);
    font-style: italic;
    font-style: underline;
}

.titulo {
    color: rgb(209, 229, 246);
    margin-left: 106px;
    height: 2vh;
}



.peliculasvaloradas {
    background-color: rgba(10, 83, 218, 0.563);
    padding: 15px 8px;
    margin: -122px;
    width: 225px;
    height: 334px;
    text-align: center;
    border: solid 5px rgba(61, 61, 171, 0.688);
    border-radius: 20px;
}

.imagen {
    max-width: 160px;
    text-align: center;
}

.footer {
    display: flex;
    justify-content: space-evenly;
}

.footer1 {
    background-color: rgba(100, 148, 237, 0.63);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
}

.Integrantes {
    color: aliceblue;
    text-align: center;
    font-size: 15px;
}

.Titulos {
    color: aliceblue;
    margin-left: 106px;
    text-decoration: underline;
}

.Titulosbusqueda {
    color: aliceblue;
    margin-left: 106px;
    text-decoration: none;
}

.titulospelicula {
    color: #00A8CC;
    font-size: 25px;
    margin: 10px 0px 0px 0px;
}

.tituloestreno {
    color: #00819e;
    font-size: 15px;
    margin: 10px 0px 0px 0px;
}

.textofooter {
    color: aliceblue;
    text-decoration: none;
    margin-top: 15px;
}

.Padredetalle {
    background-color: rgba(10, 83, 218, 0.563);
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid rgba(61, 61, 171, 0.688);
    display: flex;
    align-items: center;
    flex: wrap;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top: solid 5px rgba(76, 122, 207, 0.563);
    border-left: solid 5px rgba(76, 122, 207, 0.563);
    border-right: solid 5px rgba(76, 122, 207, 0.563);
}

.Padredetalle2 {
    background-color: rgba(76, 122, 207, 0.563);
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 1px solid rgba(61, 61, 171, 0.688);
    display: flex;
    align-items: flex-end;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom: solid 5px rgba(10, 83, 218, 0.563);
    border-left: solid 5px rgba(10, 83, 218, 0.563);
    border-right: solid 5px rgba(10, 83, 218, 0.563);
}

/*Recomendaciones peliculas */ 
.peliculasRecomendadas {
    background-color: rgba(10, 83, 218, 0.563);
    padding: 35px 8px;
    margin: -156px;
    width: 187px;
    height: 334px;
    text-align: center;
    border: solid 5px rgba(61, 61, 171, 0.688);
    border-radius: 20px;
}

.Padredetalle3 {
    background-color: rgba(76, 122, 207, 0.563);
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 1px solid rgba(61, 61, 171, 0.688);

    align-items: flex-end;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom: solid 5px rgba(10, 83, 218, 0.563);
    border-left: solid 5px rgba(10, 83, 218, 0.563);
    border-right: solid 5px rgba(10, 83, 218, 0.563);
}

.padreValoradas1 {
    display: none;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    margin: 80px 138px;
    padding: 80px;
}

/*creo una prop para el div oculto de recomendaciones*/
.padreValoradas11 {
    display: none; /* Oculta el div inicialmente */
  }


.detallepelicula_div {
    display: flex;
    align-items: center;
    width: 100%;
}

.detallepelicula_div img {
    max-width: 300px;
    margin-right: 20px;
}

.Textos123 {
    display: flex;
    flex-direction: column;
    width: 682px;
    height: 400px;
    justify-content: space-between
}

.Texto1 {
    text-align: start;
    background-color: rgba(0, 0, 255, 0.271);
}

.Estrenodetalle {
    width: 993px;
}

.Estreno {
    text-align: end;
}

/* telefono */
@media (max-width: 420px) {
    .body {
        padding: 0px;
    }

    .navbar {
        display: none;

    }

    .main {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Titulos {
        margin-left: 15px;
        font-size: 25px;
    }

    .padreValoradas {
        display: flex;
        flex-direction: column;
        margin: 0px;
        margin-bottom: -185px;
    }

    .peliculasvaloradas {
        margin-bottom: 120px;
    }

    .Padredetalle,
    .Padredetalle2 {
        max-width: 294px;
    }


    .detallepelicula_div {
        display: flex;
        flex-direction: column;

    }

    .detallepelicula_div img {
        max-width: 300px;
        margin-right: 0px auto;
    }

    .ul1 {
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        margin: 50px 120px;
        padding: 900px;

    }

    #Arrow {
        display: none;
    }

    .fa-solid,
    .fas {
        display: none;
    }

    .mediaTitulo {
        display: flex;
        margin-left: 0px;
    }

    .mainGenero {
        margin-left: 0px;
        padding: 0px;
    }

    .fa-solid,
    .fas {
        display: none;
    }

    .cadaGenero {
        width: 100%;
        padding: 0px;
        flex-direction: column;

    }

    .padreGenero {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: start;
        max-width: 100%;
        width: 100%;
        margin: 0px;
        flex-direction: column;
    }

    .GeneroPeliculas {
        background-color: rgba(10, 83, 218, 0.563);
        padding: 10px 5px;
        margin: 22px;
        width: 340px;
        height: 40px;
        text-align: center;
        border: solid 5px rgba(61, 61, 171, 0.688);
        border-radius: 18px;
        list-style: none;
        color: rgb(222, 239, 254);
        font-size: 24px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .titulo {
        color: rgb(209, 229, 246);
        text-align: center;
        height: 2vh;
        margin: 14px;
    }

    .Estrenodetalle {
        width: 297px;
    }

    .Textos123 {
        width: 285px;
        justify-content: normal;
        height: 232px;
    }

    .GeneroPeliculasDetalle {
        padding: 1px 20px;
        width: 73px;
    }

    .Titulosbusqueda {
        margin-left: 29px;
    }
}

.sugerido {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 20px;
  }